
body {
    background-color: #0E0D11;
    box-sizing: border-box;
    font-family: 'arial';
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

ol, li {
    list-style: none;
    color: inherit;
}
 
a{
    color: inherit;
    list-style: none;
    text-decoration: none;
    }
    



header{
    background-color: #00111D;
    position: fixed;  
    display:flex; 
    flex-direction: row;   
    padding-left:  9vw;  
    white-space: nowrap; 
    padding-top: 18px;
    padding-bottom: 5%; 
    border-bottom: 0.15vw solid orange;
    padding-bottom: 2vw;
    width:100%;
    align-items: center;
    color: #ffffff;
}

.apresenta__cabecalho{
    align-items: center;
    padding-top: 14px;
    padding-left: 8vw;
    padding-bottom: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: initial;
    white-space: nowrap; 
    font-size: 22px; 
    font-weight: 200;
    row-gap: 0.6vw; 
    padding-right: 4vw;    
}

    .apresenta__cabecalho__logo img{
    width: 30px;
    height: auto;
    padding-right: 10px;
    }

.cabecalho__menu__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 10vw;
    color: #ffffff;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 15vw;
    font-size: clamp(1.3vw, 0.6vw, 0,6vw); 
    color: #ffffff;
    }

.menu__list__item{
   padding-right: 2vw;
   color: #EAF2FD;
 }

 .menu__list__item__contato{
    color: #EAF2FD;
    padding-top: 32px;
 }



/*Sessão Title "Olá. meu nome é fulano" */


section.title{
    border-bottom: 0.2vw solid orange; 
    padding-bottom: 2vw;
    width: auto;
    align-items: center;
    padding-top: 140px;
    width:100vw;
    padding-bottom: 120px;  
    color: #ffffff; 
    background-color: #00111D; 
}

.title{
    padding-left: 14vw;
}

.title__div{
    padding-top: 13vw;
    max-width: 70vw;
    display: flex;
    flex-direction: row-reverse;
}

.title__container{
    display: flex;
    flex-direction: column;
    width: 60%;



}

.title__bio{
    padding-bottom: 1.5rem;
}

.title__subsection{
    font-size: 20px;
}

.title__profile {
    padding-top: 33px;
    padding-left: 8vw;
    width: 17vw;
    height: 17vw; 
}
/*
.links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
*/

.links{
margin-top: 1rem;
display: grid;
text-align: start;
row-gap: 10px;
grid-template-columns: auto 1fr;
text-align: start;
color: black;

}

.links img{
    width: 80px;
    height: auto;
    padding-top: 16px;
}



.links__network{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10vw;
    color: #EAF2FD;
}

.links__network__item{
    color: #00111D;
    display: flex;
    align-items: self-end;
    background: #FFFFFF;
    width: 11rem;
    height: 10.85rem;
    border-radius: 1vw;
    align-items: center;
    justify-content: center;
}  










/*Sessão About "Sobre Mim"*/

section.about{
    border-bottom: 0.2vw solid orange; 
    padding-bottom: 2vw;

    display: flex;
    flex-direction: column;
    padding-bottom: 40px;

}

.about__paragraph{
    font-size: 20px;
    width: 70wv;
}


.about__container{ 
    align-items: center;
    padding-top: 120px;
    padding-right: 15vw;
    padding-bottom: 100px;
    padding-left: 16vw;
}



/*Sessão Skills*/

section.skills{
    padding-left: 16vw;
    padding-top: 100px;
    width:70vw;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    border-bottom: 0.2vw solid orange; 
    padding-bottom: 5vw;
    width: auto;
}

.skills__line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5vw;
    column-gap: 20px;
    align-items: baseline; /* Alinhe na linha de base */
    padding-right: 15vw;
}

.skills__line ul{
    align-items: center;
}

.skills__box {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    width: 11rem;
    height: 10.85rem; /* Ajuste conforme necessário */
    color: #00111D;
    border-radius: 1vw;
}

.skills__box img{  
    align-items: center;
    justify-content: center;
    width: 60px;
    height: auto;
}

.skills__box ul{
    align-items: center;
    margin: 16px;
}

.skills__name{
    margin-top: 10px;
    align-items: bottom;
}


/* Experiência Acadêmica*/

section.academic{
    border-bottom: 0.2vw solid orange; 
    padding-bottom: 2vw;
    width: auto;

    padding-left: 16vw;
    padding-top: 40px;
    padding-bottom: 40px;
}

section.academic img{
    width: 50px;
    height: auto;
    padding-right: 2vw;
}

.academic__courses{
    padding-right: 12vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4vw;

}

.formacao__curso{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding-right: 3vw;
}

.formacao__curso__list{
    border: #FFFFFF;
    border-radius: 1vw;
    background: #EAF2FD;
    color: #00111D;
    align-items: center;
}



.formacao__curso__detalhes{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 3vw;
  
}

/* experiência*/

section.experience{

    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    border-bottom: 0.2vw solid orange; 
}

#xp{
    gap: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    padding-bottom: 40px;
    padding-left: 10vw;
    padding-top: 40px;
}

.experience__box{
    align-items: center;

}


.experience__box img {
    width: 268px;
    height: 180px;
 /* Defina a altura mínima desejada */
}

.experience__info{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 40px;
}

.experience__title{
    padding-bottom: 12px;
} 

.experience__section__title{
    padding-bottom: 16px;
} 

.experience__text{
    padding-bottom: 12px;
}

.experience__description{
    display: flex;
    flex-direction: wrap; 
    flex-wrap: wrap;
    gap: 19px;
    padding-bottom: 20px;
}

.experiencia__botao--repo {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branca */
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
}

.experiencia__botao--repo:hover  {
    background-color: #0056b3; /* Cor de fundo mais escura ao passar o mouse */
}

.experiencia__botao--demo__1:hover {
    background-color: #0056b3; /* Cor de fundo mais escura ao passar o mouse */
}

.experiencia__botao--demo__2:hover {
    background-color: #0056b3; /* Cor de fundo mais escura ao passar o mouse */
}


.experiencia__botao--repo {
        background-color: #007bff; /* Cor de fundo azul */
        color: #fff; /* Cor do texto branca */
        border: none; /* Sem borda */
        padding: 10px 20px; /* Espaçamento interno */
        font-size: 16px; /* Tamanho da fonte */
        cursor: pointer; /* Cursor de mão ao passar o mouse */
}

.experiencia__botao--demo__1 {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branca */
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
}

.experiencia__botao--demo__2 {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branca */
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
}







/*Contato*/

section.formcontato{
    background-color: #EAF2FD;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    border-bottom: 0.2vw solid orange; 
}
.formcontato__contacto{
    padding-bottom: 40px;
    padding-left: 16vw;
    padding-top: 40px;
    width:70vw;
    background-color: #00111D;
}

.formcontato__contacto {
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
}

.formcontato__text {
    margin-bottom: 20px; /* Espaçamento abaixo do texto */
}

.formcontato__contato__subtext{
    font-size: 1.5vw;
}

.formcontato__input,
.formcontato__textarea,
.formcontato__botao {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px; /* Espaçamento vertical entre os elementos */
}


.formcontato__form{

}



/*footeer*/

section.footer{
    width: 100vw;
    height: fit-content; 
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.footer__rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    font-weight: bold

}






/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
